html, body{
	margin:0;
	padding:0;
  font-family: "Libre Baskerville";
}

*{
	box-sizing: border-box;
}

.colored {
  color: #FF1493;
}

#navigation, #header {
  float: left;
  margin: 10px;
  padding: 10px;
}

#header {
  font-size: 3vw;
  width: 4vw;
  height: 6vw;
  text-align: center;
  width: calc(50% - 100px);
  margin-left: 80px;
  padding-top: 2vw;
}

#navigation {
  width: calc(50% - 100px);
  margin-right: 80px;
  height: 6vw;
}

#navigation li {
  display: inline-block;
  font-size: 1.1vw;
  padding: 3vw 2vw 0vw 0vw;
}

#container, #image {
  float: left;
  margin: 10px;
  padding: 10px;
}

#container {
  width: calc(40% - 100px);
  font-size: 1vw;
  margin-left: 80px;
  padding: 3vw 14vw 0vw 2vw;
  height: 31vw;
}

#image {
  width: calc(60% - 100px);
  margin-right: 80px;
  padding: 3vw 1vw 0vw 0vw;
  height: 31vw;
}

#container-tablet-mobile {
  display: none;
}

#sprites, #contact {
  float: left;
  width: calc(50%);
  height: 11.9vw;
  background-color: #d7d7c1;
}

#sprites {
  padding: 2vw 12vw 6vw 10.3vw;
}

.spriteImage {
  width: 34px;
  height: 34px;
  border: 1px solid silver;
  display: inline-block;
  border-radius: 24px;
  background: url('sprites(1).png') no-repeat;
}

.socialMedia1 {
    background-size: 434px;
    background-position: -100px -21px;
}
.socialMedia2 {
    background-size: 434px;
    background-position: -140px -21px;
}

.socialMedia3 {
    background-size: 434px;
    background-position: -181px -21px;
}

.socialMedia4 {
    background-size: 434px;
    background-position: -221px -21px;
}

.socialMedia5 {
    background-size: 434px;
    background-position: -261px -21px;
}

.socialMedia6 {
    background-size: 434px;
    background-position: -302px -21px;
}

.socialMedia7 {
    background-size: 434px;
    background-position: -221px -102px;
}

.socialMedia8 {
    background-size: 434px;
    background-position: -262px -102px;
}

.socialMedia9 {
    background-size: 434px;
    background-position: -302px -102px;
}

#contact {
  padding: 2vw 20vw 8vw 0vw;
}

.details {
  font-size: 0.6vw;
}

@media (max-width:1024px) {
  #sprites {
    padding: 2vw 14vw 6vw 10.3vw;
  }
}

@media (max-width:1010px) {
  #container {
    font-size: 0.95vw;
  }
}

@media (max-width:843px) {
  #container {
    font-size: 0.93vw;
  }
}

@media (max-width:781px) {
  #container {
    font-size: 0.87vw;
  }
}

@media (max-width:768px) {
  #navigation, #header {
    margin: 10px;
    padding: 10px;
  }

  #header {
    font-size: 5vw;
    letter-spacing: 2px;
    height: 10vw;
    width: calc(35% - 20px);
  }

  #navigation {
    height: 10vw;
    padding-left: 70px;
    width: calc(65% - 20px);
  }

  #navigation li {
    display: inline-block;
    font-size: 1.6vw;
  }

  #image {
    display: block;
    float: left;
    max-width:100%;
    margin: 10px;
    padding: 10px;
    width: calc(100% - 20px);
    padding: 3vw 0vw 0vw 15vw;
    height: 57vw;
  }

  #container {
    display: none;
  }

  #container-tablet-mobile {
    display: block;
    float: left;
    margin: 10px;
    padding: 10px;
    width: calc(100% - 20px);
    font-size: 1.6vw;
    height: 26vw;
  }

  #container-tablet-mobile p {
    padding: 4px 2px 4px 6px;
  }

  #sprites, #contact {
    float: left;
    width: calc(50%);
    height: 20vw;
    background-color: #d7d7c1;
  }

  #sprites {
    padding: 3vw 10vw 6vw 8.3vw;
  }

  .details {
    font-size: 1.1vw;
  }
}

@media (max-width:594px) {
  #sprites, #contact {
    height: 24vw;
  }
}

@media (max-width:550px) {
  #sprites, #contact {
    height: 26vw;
  }
}

@media (max-width:500px) {
  #sprites, #contact {
    height: 28vw;
  }
}

@media (max-width:450px) {
  #sprites, #contact {
    height: 32vw;
  }
}

@media (max-width:400px) {
  #contact {
    width: calc(100%);
    height: 40vw;
    padding: 10px 0px 0px 23px;
  }

  #sprites {
    display: none;
  }

  .details {
    font-size: 2.2vw;
  }
}

@media (max-width:320px) {
  #header {
    font-size: 12vw;
    height: 20vw;
    width: calc(100% - 20px);
  }

  #navigation {
    height: 10vw;
    width: calc(100% - 20px);
  }

  #navigation li {
    padding: 0px 0px 0px 0px;
    font-size: 3vw;
  }

  #image {
    width: calc(100% - 20px);
    padding: 10vw 0vw 0vw 15vw;
    height: 60vw;
  }


  #container{
    display: none;
  }

  #container-tablet-mobile {
    width: calc(100% - 20px);
    font-size: 4.5vw;
    height: 130vw;
  }

  #container-tablet-mobile p {
    padding: 12px 4px 10px 4px;
  }

  #contact {
    width: calc(100%);
    height: 40vw;
    padding: 10px 0px 0px 23px;
  }

  #sprites {
    display: none;
  }

  .details {
    font-size: 2.2vw;
  }
}
